#top_login {
	padding: 5px;
	font-size: 12px;
	margin: 0;
}
#top_login div {
	padding: 0;
	margin: 0;
}

#top_login_meta {
	position: absolute; 
	top: 15px; 
	right: 20px;
}

#top_login input.txt {
	width: 100px;
	margin-right: 5px;
}
