body {
	background-color: #fff;
	color: #000;
}
#logo {
	background-image: url('../theme/logo_black.png');
}
#content table th, #content table td, #content .forum_post_meta, #content .forum_post, #tms .border, h1 span,h2 span,h3 span, #content h1, #content, #side .widge, #side .widge h2, #side .widge h2.sect, #user_panel, #user_panel #ave, #user_greeting, #layout_collapse, #tms fieldset, #tms fieldset legend  {
	border-color: #660000 #660000 #000 #000;
	background-color: #fff;
	color: #000;
}
#content tr.alt td, #content table th, #tms .alt, #content .alt, #side .alt, #side .widge .alt, #tms .alt a  {
	background-color: #E5E5E5;
}
#tms h1 span, #tms h2 span, #tms h3 span {
	text-shadow: #ff0000 0px 0px 1px;
}
a, .fake_link {
	color: black;
}
a:hover, .fake_link:hover {
	color: red;
}
